/*
  You can import this file from a Vue component by doing:

    @import "~@/styles/common";

  Place the above statement within the <style> block. You can also
  override these variables after they are imported if needed.
 */

/* Imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
@import '~@animxyz/core';

/* AnimXYZ */
@include xyz-all;

/* Global Colors */
$defaultTextColor: #cacaca;
$bg-color: rgb(12, 19, 24);
$bg-color-light: rgb(21, 32, 40);
$bg-color-light2: rgb(29, 46, 57);
$bg-color-light3: rgb(38, 59, 74);
$bg-color-dark: rgb(3, 5, 7);
$defaultBorder: solid 1px $bg-color-light2;

/* Mixins */
@mixin defaultBorderImage {
    border: $defaultBorder;
}