<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Load logic for connecting and talking. -->
<script src="static/js/ansi_up.min.js"></script>
{{if .debug}}
<script src="static/js/jquery.inputHistory.js"></script>
<script src="static/js/tomato.js"></script>
{{else}}
<script src="static/js/jquery.inputHistory.min.js"></script>
<script src="static/js/tomato.min.js"></script>
{{end}}
<script>
    Tomato.websocketUrl = "{{ .websocketUrl }}";
</script>
{{if .debug}}
<script src="static/js/app.js"></script>
{{else}}
<script src="static/js/app.min.js"></script>
{{end}}
</body>
</html>
