{{ block "header.html" . }}{{ end }}

<div class="play">
    <div class="window">
        <div id="historyBox" class="terminal">
            <!-- Messages will be inserted here. -->
        </div>
        <div class="prompt">
            <div class="connection">
                <i class="fa fa-circle red" title="Disconnected"></i>
            </div>
            <input id="textBox" type="text" class="form-control" autocorrect="off" autocapitalize="off" autofocus
                   spellcheck="false" value=""/>
        </div>
    </div>
</div>

{{ block "footer.html" . }}{{ end }}